<!DOCTYPE html>
<html lang="en" ng-app="windApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mettez tous vos spots windguru favoris sur la même page">
    <meta name="author" content="Florent Destremau">

    <title>Windapp - visionner vos spots windguru</title>
    <link href="./bootstrap.min.css" rel="stylesheet">
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    <div class="alert alert-success" role="alert" ng-if="alertSuccess">
      Votre spot a été ajouté ! Nom : {{spot.name}}, id : {{spot.id}}
    </div>
    <div class="container">
      <div class="jumbotron">
        <h1>Windapp</h1>
        <p class="lead">Visionnez tous vos spots favoris windguru sur la {{'même ' + 'page'}}</p>
      </div>
      <div class="col-md-12">
        <p>
          Ajoutez un spot avec son id.
        </p>
        <form class="form-inline">
          <div class="form-group col-md-4">
            <label>
              Nom :
              <input type="text" class="form-control" ng-model="spot.name" placeholder="Nom du spot">
            </label>
          </div>
          <div class="form-group col-md-4">
            <label>
              Id :
              <input type="number" class="form-control" ng-model="spot.id" placeholder="12345">
            </label>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-default" ng-click="submit(spot)">Ajouter à ma liste</button>
          </div>
        </form>
      </div>
      <footer class="footer">
        <p>&copy; WindApp 2015 - Florent Destremau</p>
      </footer>

    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
  </body>
</html>
